<!-- templates/webapp/agregar_producto.html -->

{% extends 'webapp/base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Agregar Producto
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
