<!-- templates/webapp/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Mi Sitio Web</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos/">Productos</a></li>
                <li><a href="/clientes/">Clientes</a></li>
                <li><a href="/empleados/">Empleados</a></li>
                <li><a href="/compras/">Compras</a></li>
                <li><a href="/agregar_producto/">Agregar Producto</a></li>
                <li><a href="/agregar_cliente/">Agregar Cliente</a></li>
                <li><a href="/agregar_empleado/">Agregar Empleado</a></li>
                <li><a href="/agregar_compra/">Agregar Compra</a></li>
            </ul>
        </nav>
        <form method="get" action="{% url 'buscar' %}">
            <input type="text" name="query" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Derechos Reservados &copy; 2024</p>
    </footer>
</body>
</html>
