<!-- templates/webapp/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Gloria{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Gloria</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Inicio -->
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>

                    <!-- Compras -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="comprasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compras
                        </a>
                        <div class="dropdown-menu" aria-labelledby="comprasDropdown">
                            <a class="dropdown-item" href="/compras/">Lista de Compras</a>
                            <a class="dropdown-item" href="/agregar_compra/">Agregar Compra</a>
                        </div>
                    </li>

                    <!-- Clientes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="clientesDropdown">
                            <a class="dropdown-item" href="/clientes/">Lista de Clientes</a>
                            <a class="dropdown-item" href="/agregar_cliente/">Agregar Cliente</a>
                        </div>
                    </li>

                    <!-- Productos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="productosDropdown">
                            <a class="dropdown-item" href="/productos/">Lista de Productos</a>
                            <a class="dropdown-item" href="/agregar_producto/">Agregar Producto</a>
                        </div>
                    </li>

                    <!-- Empleados -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="empleadosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empleados
                        </a>
                        <div class="dropdown-menu" aria-labelledby="empleadosDropdown">
                            <a class="dropdown-item" href="/empleados/">Lista de Empleados</a>
                            <a class="dropdown-item" href="/agregar_empleado/">Agregar Empleado</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'buscar' %}">
                    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Buscar...">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center mt-4">
        <p>Derechos Reservados &copy; 2024</p>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
