<!-- templates/webapp/inicio.html -->

{% extends 'webapp/base.html' %}
{% load static %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4 p-5 bg-light rounded-3"
         style="background-image: url('{% static 'images/background.jpg' %}'); background-size: cover; position: relative; color: white;">
        <div style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
            <h1 class="display-4" style="text-shadow: 2px 2px 4px #000;">Bienvenido a Gloria - El Sistema que te asegura la gestión eficiente de tus compras</h1>
            <p class="lead" style="text-shadow: 2px 2px 4px #000;">Esta es la página de inicio de Gloria.
                Aquí puedes encontrar información relevante y enlaces a diferentes secciones de la aplicación.</p>
            <hr class="my-4" style="border-top: 1px solid white;">
            <p style="text-shadow: 2px 2px 4px #000;">Utiliza el menú de navegación para explorar las diferentes
                funcionalidades de la aplicación.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Más Info</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img alt="Compras" class="card-img-top img-fluid" src="{% static 'images/compras.png' %}"
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sección de Compras</h5>
                    <p class="card-text">Gestiona tus compras de manera eficiente.</p>
                    <a class="btn btn-primary" href="/compras/">Ver Compras</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img alt="Clientes" class="card-img-top img-fluid" src="{% static 'images/clientes.png' %}"
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sección de Clientes</h5>
                    <p class="card-text">Gestiona la información de tus clientes.</p>
                    <a class="btn btn-primary" href="/clientes/">Ver Clientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img alt="Productos" class="card-img-top img-fluid" src="{% static 'images/productos.png' %}"
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sección de Productos</h5>
                    <p class="card-text">Gestiona tus productos de manera efectiva.</p>
                    <a class="btn btn-primary" href="/productos/">Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img alt="Funcionarios" class="card-img-top img-fluid" src="{% static 'images/funcionarios.png' %}"
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Sección Empleados</h5>
                    <p class="card-text">Gestiona la información de tus empleados.</p>
                    <a class="btn btn-primary" href="/empleados/">Ver Empleados</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm">
                <img alt="Acerca de mí" class="card-img-top img-fluid" src="{% static 'images/about.png' %}"
                     style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Acerca de mí</h5>
                    <p class="card-text">Conoce más sobre Ginette Laglere y su trayectoria profesional.</p>
                    <a class="btn btn-primary" href="/about/">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
