<!-- templates/webapp/lista_empleados.html -->

{% extends 'webapp/base.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Empleados
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for empleado in empleados %}
                <li class="list-group-item">{{ empleado.nombre }} {{ empleado.apellido }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
