<!-- templates/webapp/lista_productos.html -->

{% extends 'webapp/base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Productos Disponibles
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for producto in productos %}
                <li class="list-group-item">{{ producto.nombre }} - {{ producto.precio }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
