<!-- templates/webapp/lista_compras.html -->

{% extends 'webapp/base.html' %}

{% block title %}Lista de Compras{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Compras
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td>{{ compra.cliente.nombre }} {{ compra.cliente.apellido }}</td>
                        <td>{{ compra.producto.nombre }}</td>
                        <td>{{ compra.fecha }}</td>
                        <td>{{ compra.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
