<!-- templates/webapp/lista_compras.html -->

{% extends 'webapp/base.html' %}

{% block title %}Lista de Compras{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Compras
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for compra in compras %}
                <li class="list-group-item">{{ compra.cliente.nombre }} compró {{ compra.cantidad }} de {{ compra.producto.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
