<!-- templates/webapp/lista_clientes.html -->

{% extends 'webapp/base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Clientes
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for cliente in clientes %}
                <li class="list-group-item">{{ cliente.nombre }} {{ cliente.apellido }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
